.details-page {
  background: #F6F4EB;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.details-card {
  background: white;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.details-card h2 {
  color: #749BC2;
  margin-bottom: 15px;
}

.details-card p {
  margin: 8px 0;
  color: #2c3e50;
  line-height: 1.4;
}

.details-image {
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.back-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #749BC2;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}
.back-btn:hover {
  background-color: #5e8cb0;
}

.claim-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #749BC2;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.claim-btn:hover {
  background-color: #5e8cb0;
}
