.search-page {
  width: 100%;
  min-height: 100vh;
  background-color: #F6F4EB;
  padding: 40px 20px;
}

.search-title {
  text-align: center;
  color: #749BC2;
  font-size: 2rem;
  margin-bottom: 15px;
}


.search-bar {
  display: block;
  margin: 10px auto;
  width: 60%;
  max-width: 500px;
  padding: 10px 14px;

  border-radius: 10px;
  border: 2px solid #749BC2;
  font-size: 1rem;
}


.item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.item-card {
  width: 60%;
  max-width: 600px;
  background-color: #a0c8e0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.item-card h3 {
  margin-bottom: 5px;
  color: #2b4552;
}

.item-card p {
  color: #333;
  margin: 4px 0;
}
.dropdown {
  text-align: center;
  margin-top: 30px;
}

.dropbtn {
  background-color: #a0c8e0;
  color: #333;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  margin: 15px auto 0;
  background-color: white;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}
